.styling{
    background-color: rgb(194, 110, 110);
    border: 1px solid black;

    
    
    
    
}
.site-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    margin: 0 0 0 0;
    color:black;
    height: auto;
   
    
}

.pie-container{
    display:flex;
    flex-direction:column;
    background-color: rgb(112, 150, 199);
    align-items:center;
    
    grid-row:1;
    grid-column:2 / span 1;
    padding: 1rem;
    color:black;
    border-radius:1%;
    position:relative;
    margin-top: 2rem;
    box-shadow: 2px 2px rgb(0, 0, 0,.2);
}
.bar-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
     background-color: rgb(112, 150, 199);
    grid-column:  2 / span 1 ;
    grid-row: 2;
    padding:1rem;
    color:black;
    margin-bottom:2em;
    
    
    border-radius: 1%;
    
    margin-top: 2em;
    box-shadow: 2px 2px rgb(0, 0, 0,.2);
    
}